<section id="categories" class="view">
    <div class="container">
        <div id="categories-div"></div>
    </div>
    <script type="text/javascript">
        var uri = '../api/categories';
        $.getJSON(uri).done(function (data) {
            $.each(data, function (key, item) {
                $("#categories-div").append("<div class='category-div'><span hidden='true' class='category-id'>" + item['Id'] + "</span>" + item['Name'] + "</div>")
            });
            $(".category-div").click(function (event) {
                var div = $(this);
                document.location.href = '#/products/category/' + div.children(".category-id").text();
            });
        })
    </script>
</section>
